1\. **Text files**

Perform the following operations on plain `txt` files:

+ create a list of integrer numbers and then save it to a text file named `data_int.txt`. Run the `cat` command to print the content of the file.
+ create a matrix of 5x5 floats and then save it to a text file named `data_float.txt`. Use the `cat` command to print the content of the file.
+ load the `txt` file of the previous point and convert it to a `csv` file by hand.

In [1]:
import numpy as np
import json
import csv
import pandas as pd
import sqlite3 as sql

In [2]:
n_list = 20 
n_matrix = 5 
int_list = [i for i in range(n_list)] 
float_matrix = np.random.rand(n_matrix,n_matrix) 
            
out_file_name_int = "./data/data_int.txt"  
out_file_name_float = "./data/data_float.txt" 

with open(out_file_name_int, 'w') as outfile_1:
    for j in int_list: 
        outfile_1.write(str(j)+ ' ')     
!cat ./data/data_int.txt

np.savetxt('./data/data_float.txt', float_matrix, fmt='%f') 
!cat ./data/data_float.txt

previous_data = np.loadtxt('./data/data_float.txt')
np.savetxt('./data/data_float.csv', previous_data, delimiter = ',')
!cat ./data/data_float.txt

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 0.609626 0.871551 0.314002 0.614247 0.808732
0.493000 0.026014 0.868720 0.534483 0.907032
0.623677 0.350171 0.598729 0.864635 0.647383
0.050946 0.136814 0.075647 0.871664 0.486502
0.297157 0.504757 0.225970 0.848408 0.100545
0.609626 0.871551 0.314002 0.614247 0.808732
0.493000 0.026014 0.868720 0.534483 0.907032
0.623677 0.350171 0.598729 0.864635 0.647383
0.050946 0.136814 0.075647 0.871664 0.486502
0.297157 0.504757 0.225970 0.848408 0.100545

2\. **JSON files**

Load the file `user_data.json`, which can be found at:

- https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json

and filter the data by the "CreditCardType" when it equals to "American Express". Than save the data to a new CSV file.

In [ ]:
#!wget https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json -P ./data/

In [3]:
with open('./data/user_data.json', 'r') as json_file:
    data_json = json.load(json_file)

filtered_data_json = [x for x in data_json if x['CreditCardType'] == 'American Express']

csv_file_path = './data/american_express_users.csv'
fieldnames = data_json[0].keys()

with open(csv_file_path, 'w', newline='') as csv_file:
    writer = csv.DictWriter(csv_file,fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(filtered_data_json)

3\. **CSV files with Pandas**

Load the file from this url:

- https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv

with Pandas. 

+ explore and print the DataFrame
+ calculate, using `groupby()`, the average value of each feature, separately for each class
+ save the file in a JSON format.

In [ ]:
#!wget https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv -P ./data/

In [4]:
file_name= "./data/mushrooms_categorized.csv"
data = pd.read_csv(file_name)

new = data.groupby(["class"]).mean()

output_file = "./data/mushrooms_avg_values.json"
new.to_json(output_file)

print(new)

       cap-shape  cap-surface  cap-color   bruises      odor  gill-attachment  \
class
0       3.266160     1.615970   4.581749  0.653992  4.334601         0.954373
1       3.436159     2.055158   4.421859  0.159346  3.940756         0.995403

       gill-spacing  gill-size  gill-color  stalk-shape  ...  \
class                                                    ...
0          0.285171   0.068441    6.622624     0.615970  ...
1          0.028601   0.567926    2.863636     0.514811  ...

       stalk-surface-below-ring  stalk-color-above-ring  \
class
0                      1.798479                6.098859
1                      1.394280                5.512768

       stalk-color-below-ring  veil-type  veil-color  ring-number  ring-type  \
class
0                    6.064639        0.0    1.931559     1.125475   3.007605
1                    5.504597        0.0    2.002043     1.009193   1.522983

       spore-print-color  population   habitat
class
0               3.201521    3.283270  1.148289
1               4.021450    4.031665  1.895812

[2 rows x 22 columns]

4\. **Reading a database**

Get the database `sakila.db` from the lecture `06_dataio.ipynb`, and import the table `actors` as a Pandas dataframe. Using the dataframe, count how many actors have a first name that begins with `A`.

*Hint:* use the Series `.str` method to apply the Python string methods to the elements of a Series, see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.html).

In [ ]:
#!wget https://gist.github.com/Piyush3dB/726bf7012785d6e0fd691c3655c92654/raw/2c17ccb2eb33b3396bfa96284c53f0718a4ea62c/sakila.db -P ./data/

In [5]:
conn = sql.connect('./data/sakila.db')
cur = conn.cursor()

query = "SELECT * FROM actor"
results = cur.execute(query).fetchall()

df = pd.DataFrame(results)

count_a_actors = df[df[1].str.startswith('A', na=False)].shape[0]

print(f"Number of actors with a first name starting with 'A': {count_a_actors}")

cur.close()
conn.close()

Number of actors with a first name starting with 'A': 13

5\. **Reading the credit card numbers**

Get the binary file named `credit_card.dat` from this address:

- https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat

and convert the data into the real credit card number, knowing that:
- each line corresponds to a credit card number, which consists of 16 characters (which are numbers in the 0-9 range) divided in 4 blocks, with a whitespace between each block
- each character is written using a 6 bit binary representation (including the whitespace)
- the final 4 bits of each line are a padding used to determine the end of the line, and can be ignored

*Hint*: convert the binary numbers to the decimal representation first, and then use the `chr()` function to convert the latter to a char

In [ ]:
#!wget https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat -P ./data/

In [6]:
with open("./data/credit_card.dat","rb") as card:
    for line in card:
        binary_string = line
        binary_string = binary_string[:-5]
        blocks = [binary_string[i:i+6] for i in range(0, len(binary_string), 6)]
        decimal_number = "".join([chr(int(block, 2)) for block in blocks])
        print(decimal_number)

7648 5673 3775 2271
3257 8247 3354 2266
2722 0001 4011 6652
0661 3063 3742 3150
0432 1608 1462 4742
5827 2027 8785 7303
5774 8528 2087 1117
8140 1210 6352 2845
5764 1133 7301 7100
6456 1737 4126 6726
1228 8631 7382 0000
7051 0160 5374 3166
0618 3587 1630 6376
1545 5454 7444 5636
6735 3116 3202 6834
7287 5011 1547 8413
7033 2607 3328 4200
2568 5244 1874 5024
1684 2253 7570 7118
0672 2576 0575 6631
6332 8353 8787 1340
1813 3361 1175 4211
2477 6450 8840 2368
5512 3505 2563 1326
3083 7882 0621 0025
4521 5148 8045 0334
7563 3654 8713 5787
8324 2664 0476 5561
0565 2504 7168 3510
5107 5507 1767 0738
2462 1821 2448 1443
2788 0638 6861 6554
5851 5873 5474 0547
0670 1004 4013 2655
5874 5506 3048 0806
2805 5401 8462 1260
5083 8406 6310 1862
1076 1445 3013 2266
8440 4804 4844 5277
4758 6141 0686 1387
7586 0675 0315 2568
2544 1258 7432 5165
3474 5023 4434 5626
1410 0270 0434 5086
7315 4446 1104 4215
0224 7742 8300 0266
0170 2700 3145 0640
2006 2437 8054 1600
8142 4055 1776 0026
3026 7380 1241 1084

6\. **Write data to a binary file**

a) Start from the `data/data_000637.txt` file that we have used during the previous lectures, and convert it to a binary file according to the format defined below:

In [ ]:
from IPython.display import Image
Image("images/data_format.png")

*Hints*:
- Read the first 10 lines using Pandas
- Iterate over the DataFrame rows
- For every row, "pack" the values (features) into a single 64-bit word, according to the format specified above. Use bit-wise shifts and operators to do so.
- Write each 64-bit word to a binary file. You can use `struct` in this way:
```
binary_file.write( struct.pack('<q', word) )
```
where `word` is the 64-bit word.
- Close the file after completing the loop.

b) Check that the binary file is correctly written by reading it with the code used in the lecture `06_dataio.ipynb`, and verify that the content of the `txt` and binary files is consistent.

c) What is the difference of the size on disk between equivalent `txt` and binary files?

In [7]:
import struct

# A) Read the first 10 lines using Pandas
df = pd.read_csv('./data/data_000637.txt', skiprows=1, nrows=10, header=None, names=['HEAD', 'FPGA', 'TDC_CHANNEL', 'ORBIT_CNT', 'BX_COUNTER', 'TDC_MEAS'])
for index, row in df.iterrows():
    word = (row['HEAD'] << 62) | (row['FPGA'] << 58) | (row['TDC_CHANNEL'] << 49) | (row['ORBIT_CNT'] << 17) | (row['BX_COUNTER'] << 5) | row['TDC_MEAS']
    with open('./data/output_binary_file.dat', 'ab') as binary_file:
        binary_file.write(struct.pack('<q', word))
binary_file.close()

In [8]:
data = {}

with open('./data/output_binary_file.dat', 'rb') as file:
    file_content = file.read(80)
    word_counter = 0
    word_size = 8 # size of the word in bytes
    for i in range(0, len(file_content), word_size):
        word_counter += 1
        if word_counter > 10: break
        word = struct.unpack('<q', file_content[i : i + word_size])[0] # get an 8-byte word
        head     = (word >> 62) & 0x3
        fpga     = (word >> 58) & 0xF
        tdc_chan = (word >> 49) & 0x1FF
        orb_cnt  = (word >> 17) & 0xFFFFFFFF
        bx       = (word >> 5 ) & 0xFFF
        tdc_meas = (word >> 0 ) & 0x1F
        #if i == 0: print ('{0}\t{1}\t{2}\t{3}\t{4}\t{5}'.format('HEAD', 'FPGA', 'CHANNEL', 'ORBIT_CNT', 'BX_CNT', 'TDC_MEAS'))
        #print('{0}\t{1}\t{2}\t{3}\t{4}\t{5}'.format(head, fpga, tdc_chan, orb_cnt, bx, tdc_meas))
        entry = {'HEAD' : head, 'FPGA' : fpga, 'CHANNEL' : tdc_chan, 'ORBIT_CNT' : orb_cnt, 'BX_CNT' : bx, 'TDC_MEAS' : tdc_meas}
        #df = df.append(entry, ignore_index=True)
        data[word_counter] = entry
        
df = pd.DataFrame(data).T
df

    HEAD  FPGA  CHANNEL   ORBIT_CNT  BX_CNT  TDC_MEAS
1      1     0      123  3869200167    2374        26
2      1     0      124  3869200167    2374        27
3      1     0       63  3869200167    2553        28
4      1     0       64  3869200167    2558        19
5      1     0       64  3869200167    2760        25
6      1     0       63  3869200167    2762         4
7      1     0       61  3869200167    2772        14
8      1     0      139  3869200167    2776         0
9      1     0       62  3869200167    2774        21
10     1     0       60  3869200167    2788         7